<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Memorius | Home</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div sec:authorize="isAuthenticated()">
    <div th:replace="fragments/header :: header_authenticated"/>
</div>
<div sec:authorize="isAnonymous()">
    <div th:replace="fragments/header :: header"/>
</div>

<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>